
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    color: #ffffff;
    background-color: #435B66;
}

/* ---------------HEADER SECTION STYLES----------------- */

nav{
    background-color: #2D4356;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 3rem;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav img{
    height: 4rem;
    width: 4rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 8rem;
    list-style: none;
    padding-right: 5rem;
    
}

nav ul a{
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

nav ul li:hover{
    cursor: pointer;
    transform: translateY(-5px);
    color: #EAB2A0;
}

/* ----------------HOME SECTION STYLES -------------*/

.home{
    display: flex;
    padding: 1rem 5rem 0;
    height: 80svh;
    padding-top: 7rem;
}

.greetings, .profile{
    flex: 1;
}

.greetings{
    position: relative;
    font-family: 'Inter', sans-serif;
}

.greetings h1{
    font-size: 5rem;
    margin-top: 10rem;
    font-family: 'Poppins', sans-serif;
    animation: bounce 1s infinite;
}

.greetings h1 span{
    color: #A76F6F;
}

.greetings p{
    font-size: 2.5rem;
}

.greetings img{
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 2rem;
    right: 0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.greetings .btn{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.greetings .btn button{
    padding: 1rem 2rem;
    background-color: #2D4356;
    border: none;
    border-radius: 10px;
    align-self:center ;
}

.greetings .btn button a{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
}

.profile{
    padding: 0 4rem;
    height: 80vh;
}

.profile .profile-card{
    background-color: #2D4356;
    border-radius: 1.5rem;
    position: relative;
    height: 100%;
}

.profile .profile-card img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 10%;
}

.profile .profile-card img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*-----------------------ABOUT SECTION STYLES----------------- */
.about {
    display: flex;
    margin-top: 10rem;
    padding: 4rem 5rem 0;
    height: 80svh;

}
.story {
    position: relative;
    padding: 1rem 0;
    margin-right: 1rem;
    
}

.story h1{
    font-size: 37px;
    padding-bottom: 5rem;
    font-family: 'Popoins', sans-serif;
    
}

.story img{
    position: absolute;
    top: 5rem;
    left: -3rem;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 10%;
}

.story p{
    font-size: 26px;
    padding-top: 2rem;
    font-family: 'Inter', sans-serif;
    text-indent: 4rem;
}

.story, .about-profile{
    flex: 1;
}

.about-profile{
    padding: 0 4rem;
    position: relative;
}

.about-card{
    background-color: #2D4356;
    border-radius: 1.5rem;
    position: relative;
    height: 30rem;
    left: 6rem;
    width: 30rem;
    margin-top: 9rem;
    transform: rotate(45deg);
    overflow: hidden;
}

.about-profile #star-img{
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 0;
    right: 0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.about-profile #aboutme-img{
    position: absolute;
    height: 50rem;
    z-index: 1;
    transform: translateX(-3rem) translateY(6rem);
}

.about-card #sparkle-img{
    position: absolute;
    transform: scale(1.2);
    top: -4rem;
    left: -2rem;
    z-index: 2;
    animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/*-----------------------PROJECTS SECTION STYLES----------------- */

.project{
    padding-top: 10rem;
}

.project h1{
    font-size: 37px;
    padding-bottom: 5rem;
    font-family: 'Popoins', sans-serif;
    padding-left: 5rem;
}

.project .tag-container{
    padding-left: 5rem;
    padding: 2rem 5rem 2rem;
}

.project .tag-container span{
    padding: 0.5rem 1rem;
    background-color: #A76F6F;
    border-radius: 0.2rem;
}

.project .latest-container{
    text-align: center;
}
.project .latest-container h1{
    font-size: 2.2rem;
    padding-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    animation: bounce 2s infinite;
}

.project .projects-latest{
    display: grid;
    padding: 0.5rem 5rem;
    margin-top: 1rem;
    gap: 1rem;
}

.project .projects-latest .project-card{
    display: flex;
    background-color: #2D4356;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

.project .projects-latest .project-card .system-img-container{
    flex: 1;
}

.project .projects-latest .project-card .system-img-container img{
    width: 40rem;
    object-fit: cover;
    border-radius: 0.4rem;
}

.project .projects-latest .project-card .project-description{
    text-align: center;
    flex-grow: 1;
}

.project .projects-latest .project-card .project-description h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
}

.project .projects-latest .project-card .project-description p{
    font-size: 1rem;
    text-align: left;
    padding: 0 2rem ;
    font-family: 'Poppins', sans-serif;
}

.project .projects-old{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 5rem;
    gap: 5rem;
}

.project .other-container{
    padding: 0.5rem;
}

.project .other-container h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project .projects-old .project-old-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #2D4356;
    border-radius: 1rem;
    padding-bottom: 1rem;
}
.project .projects-old .project-old-card .system-img-container{
    flex: 1;
    width: 100%;
}

.project .projects-old .project-old-card .system-img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.project .projects-old .project-old-card .project-description{
    text-align: center;
    padding: 0.7rem 1rem;
}

.project .projects-old .project-old-card .project-description p{
    text-align: left;
    padding-top: 0.5rem;
}

.project .projects-old-mobile{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 5rem;
    gap: 5rem;
}

.project .projects-old-mobile .project-old-card{
    flex: 1;
    display: flex;
}

.project .projects-old-mobile .project-old-card .system-img-container{
    height: 20rem;
}
.project .projects-old-mobile .project-old-card .system-img-container img{
    object-fit: contain;
    height: 100%;
    border-radius: 1rem;
}

.project .projects-old-mobile .project-old-card .project-description{
    text-align: center;
    padding: 0.7rem 1rem;
}

.project .projects-old-mobile .project-old-card .project-description p{
    text-align: left;
    padding-top: 0.5rem;
}             
